
    .text-center {
        background-color: #10163a !important;
        border: 1px solid #10163a !important;
    }

    body.dark-layout .table.table-striped tbody tr td,
    body.dark-layout .table.table-striped tbody tr th {
        background-color: #10163a !important;
        ;
    }